!!!
%html.tiny-kitemoji{lang: "en"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %title Test markdown
    %link{href: "https://buildkiteassets.com/assets/vendor-8704755f7aaa0c5d358ba4643640cd76adff6bdee8ed8e4598766fa845535028.css", media: "screen", rel: "stylesheet"}/
    %link{href: "https://buildkiteassets.com/assets/application-a8fe66f67c4e64d2d8b8d8b57468454153729fa7069eacc30bb23edcba574db8.css", media: "screen", rel: "stylesheet"}/
    %link{href: "https://buildkiteassets.com/frontend/app-dd015274521a66a3f467.css", rel: "stylesheet"}/
    %meta{content: "origin-when-cross-origin", name: "referrer"}/
  %body.new-nav
    .twbs-container
      #build
        %div
          %div
            .rounded.flex.items-stretch.border-red.border.mb4
              .bg-red.flex-none.flex.pt3{style: "width: 30px;"}
                .center.flex-auto
                  %i.fa.fa-times.white
              .flex-auto
                .m3.annotation-body
                  != content
